# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

# Visual studio code / WSL2 specific ignores
.vs/CMake Overview
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/KasteRobot/v16/.suo
.vs/KasteRobot/v16/Browse.VC.db
RC/build/.ninja_deps
RC/build/.ninja_log
RC/build/build.ninja
RC/build/cmake_install.cmake
RC/build/CMakeCache.txt
RC/build/RobotControl
RC/build/rules.ninja
RC/build/.vscode/settings.json
RC/build/CMakeFiles/cmake.check_cache
RC/build/CMakeFiles/CMakeError.log
RC/build/CMakeFiles/CMakeOutput.log
RC/build/CMakeFiles/TargetDirectories.txt
RC/build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
RC/build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
RC/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
RC/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
RC/build/CMakeFiles/3.10.2/CMakeSystem.cmake
RC/build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
RC/build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
RC/src/.vs/slnx.sqlite
RC/src/.vscode/launch.json
RC/src/.vscode/settings.json
